@model IEnumerable<MarineMexico.Models.Inventario>

@{
    ViewData["Title"] = "Inventario";
}

<h1 class="title has-text-weight-normal">@ViewData["Title"]</h1>

<div class="buttons mb-3">
    <a class="button" asp-action="Create" asp-controller="Inventarios">
        <span class="icon mr-1">
            <i class="fa-solid fa-plus"></i>
        </span>
        Agregar
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Artículo</th>
            <th>Talla</th>
            <th>Stock Actual</th>
            <th>Stock Mínimo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Articulo.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Talla.Talla1) (@Html.DisplayFor(modelItem => item.Talla.Notacion))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockActual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockMinimo)
                </td>
                
                <td>
                    <a asp-controller="MovimientosInventarios" asp-action="Index" asp-route-inventarioId="@item.Id">Movimientos</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
