@model MarineMexico.Models.ViewModels.MovimientosInventarioViewModel

@{
    ViewData["Title"] = "Crear movimiento de inventario";
}

<h1 class="subtitle has-text-weight-normal">@ViewData["Title"]</h1>

<div class="columns">
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="has-text-danger"></div>

            <div class="field">
                <label class="label">Inventario</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="InventarioId">
                            <option>Artículo | Talla | Tipo Empleado</option>
                            @foreach (var item in ViewBag.Inventario)
                            {
                                <option value="@item.Id" data-tipo-empleado-id="@item.TipoEmpleadoId">@item.Descripcion</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Tipo Movimiento</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="TipoMovimientoId" asp-items="ViewBag.TipoMovimientoId"></select>
                    </div>
                </div>
            </div>

			<div class="field">
				<label class="label">Motivo</label>
				<div class="control">
                    <div class="select" style="font-family: 'Courier New', monospace;">
						<select asp-for="MotivoMovimientoId">
                            <option value="">-- Selecciona una opción --</option>
                            @foreach (var item in (List<MarineMexico.Models.MotivosMovimientoInventario>)ViewBag.MotivoMovimiento)
							{
                                <option value="@item.Id" data-tipo-movimiento-id="@item.TipoMovimientoInventarioId">@item.Descripcion</option>
							}
						</select>
					</div>
				</div>
			</div>

            <div class="field">
                <label class="label">Empleado</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="EmpleadoId">
                            <option value="">-- Selecciona una opción --</option>
                            @foreach (var item in ViewBag.Empleado)
                            {
                                <option value="@item.IdEmpleado" data-tipo-empleado-id="@item.IdTipo">@item.NombreEmpleado</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label asp-for="Cantidad" class="label"></label>
                <div class="control">
                    <input asp-for="Cantidad" class="input" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
            </div>

            <div class="buttons mt-3">
                <input type="submit" value="Crear" class="button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            const selectEmpleado = $('select#EmpleadoId');
            const selectMotivo = $('select#MotivoMovimientoId');

            $('select#InventarioId').on('change', function () {
                const tipoEmpleadoId = $(this).find('option:selected').data('tipo-empleado-id');

                selectEmpleado.find('option').hide();
                selectEmpleado.find('option').filter(function () {
					return tipoEmpleadoId == undefined
					|| $(this).data('tipo-empleado-id') === tipoEmpleadoId;
				}).show();

                selectEmpleado.val('');
            });

            $('select#TipoMovimientoId').on('change', function () {
                const tipoMovimientoId = $(this).val();

                selectMotivo.find('option').hide();
                selectMotivo.find('option').filter(function () {
                    return $(this).data('tipo-movimiento-id') == tipoMovimientoId;
                }).show();

                selectMotivo.val('');
            });

            $('select#TipoMovimientoId').trigger('change');
        });
    </script>
}
